@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: Roboto;
}

.container {
    display: grid;
    height: 100vh;
    grid-template: 1fr 5fr/1fr 6fr;
}

.sidebar {
    background-color: rgb(31, 147, 255);
    grid-row: 1/3;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-weight: 700;
}

.sidebarEl {
    display: grid;
    gap: 10px;
    grid-template: 1fr/1fr 6fr;
    font-size: 20px;
    margin: 40px 20px 20px 20px;
    align-items: center;
}

.sidebarElDash {
    display: grid;
    gap: 20px;
    grid-template: 1fr/1fr 6fr;
    font-size: 20px;
    margin: 10px;
    align-items: center;
}

.sidebarElDash svg {
    height: 2em;
    fill: white;
}

.sidebarEl svg {
    height: 1em;
    fill: white;
}

.header {
    position: relative;
    box-shadow: 0 8px 6px -6px rgb(163, 163, 163);
    display: grid;
    grid-template: 1fr 1fr / 3fr 1fr;
}

.headerEl {
    display: flex;
    margin: 0px 30px 14px 30px;
    align-items: center;
}

.headerEl button {
    margin: 0 15px;
    border-radius: 20px;
    height: 40px;
    width: 90px;
    background-color: rgb(31, 147, 255);
    color: white;
    font-size: 15px;
    border: none;
    font-weight: 700;
}

.headerEl svg {
    height: 25px
}

.headerEl input {
    height: 30px;
    width: 100%;
    border-radius: 20px;
    background-color: rgb(212, 212, 212);
    border: none;
    margin-left: 10px;
}

.headerEl img {
    height: 50px;
    border-radius: 50px;
    margin: 0 30px;
}

#big {
    height: 70px;
    margin: 0px 15px;
}

.smaller {
    font-size: 13px;
    margin-bottom: 7px;
}

.bigger {
    font-size: 20px;
}

.headerEl div {
    font-weight: 700;
}

#john {
    margin-left: 100px;
}

.main-content {
    display: flex;
    background-color: rgb(212, 212, 212);
}

.contentLeft {
    flex: 4;
    display: grid;
    grid-template: 0.3fr 1fr 1fr 1fr/1fr 1fr;
}

.contentRight {
    flex: 1;
    display: grid;
    grid-template-rows: 0.3fr 1.35fr 0.3fr 1.35fr;
}

.card {
    background-color: white;
    margin: 0px 0px 25px 25px;
    box-shadow: 8px 8px 6px rgba(172, 172, 172, 0.3);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    border-left: 7px solid rgb(252, 174, 29);
    padding: 40px 20px;
}

.cardFlex {
    background-color: white;
    box-shadow: 8px 8px 6px rgba(172, 172, 172, 0.3);
    margin: 0px 25px 25px 25px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contentTitle {
    margin: 30px 25px 0px 25px;
    font-size: 17px;
    font-weight: 700;
}

.cardTitle {
    font-weight: 700;
}

.cardText {
    color: gray;
    margin-top: 5px;
    font-size: 15px;
}

.cardIcons {
    display: flex;
    width: 7.2em;
    gap: 25px;
    align-self: flex-end;
    margin-top: 20px;
}

.cardFlex {
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr / 1fr 2fr;
    font-size: 12px;
}

.cardFlex img {
    height: 50px;
    border-radius: 30px;
    margin: 15px 0 15px 30px;
    width: 50px;
}