.container {
    display: grid;
    height: 100vh;
    grid-template: 1fr 5fr/1fr 6fr;
}

.sidebar {
    background-color: rgb(70, 164, 252);
    grid-row: 1/3;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.sidebarEl {
    font-size: 20px;
    padding: 10px;
}

.header {
    position: relative;
    box-shadow: 0 8px 6px -6px rgb(163, 163, 163);
    display: grid;
    grid-template: 1fr 1fr / auto auto;
    justify-content: space-between;
}

.main-content {
    display: flex;
    background-color: rgb(212, 212, 212);
}

.contentLeft {
    flex: 4;
    display: grid;
    grid-template: 0.3fr 1fr 1fr 1fr/1fr 1fr;
}

.contentRight {
    flex: 1;
    display: grid;
    grid-template-rows: 0.3fr 1.35fr 0.3fr 1.35fr;
}

.card {
    background-color: white;
    margin: 0px 0px 25px 25px;
    box-shadow: 8px 8px 6px rgba(172, 172, 172, 0.3);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardFlex {
    background-color: white;
    box-shadow: 8px 8px 6px rgba(172, 172, 172, 0.3);
    margin: 0px 25px 25px 25px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contentTitle {
    margin: 30px 25px 0px 25px;
    font-size: 20px;
}